<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ county.countyName }}</title>
    <style>
      legend {
        padding: 20px 0;
        font-size: 25px;
      }
      fieldset {
        background: #eef0f1;
      }
      body {
        font-family: "Akzidenz Grotesk BQ Medium", -apple-system,
          BlinkMacSystemFont, sans-serif;
      }

      div {
        margin-bottom: 15px;
      }

      span {
        margin-left: 15px;
        margin-right: 15px;
      }
    </style>
  </head>
  <body>
    <fieldset>
      <legend>{{ county.countyName }}, {{ county.state }}</legend>

      <b>Crime Rate (per 100000):</b> {{ county.crime_rate }}
      <br />
      <b>Population:</b> {{ county.population }}
      <br />
      <b>Live Expectancy:</b> {{ county.lifeExpectancy }}
      <br />
      <b>Average Income:</b> {{ county.averageIncome }}
      <br />
      <b>Poverty Rate:</b> {{ county.povertyRate }}
      <br />
      <b>Unemployment Rate:</b> {{ county.unemploymentRate }}
      <br />
      <b>Living Wage:</b> {{ county.livingWage }}
      <br />
      <b>Food Cost: </b>{{ county.foodCost }}
      <br />
      <b>Medical Cost:</b> {{ county.medicalCost }}
      <br />
      <b>Housing Cost:</b> {{ county.housingCost }}
      <br />
      <b>Tax Cost:</b> {{ county.taxCost }}
      <br />
      <b>Temperature:</b>

      <table border="1">
        <tr>
          <td><b>Spring</b>, <b>Summer</b>, <b>Autumn</b>, <b>Winter</b></td>
        </tr>
        <tr>
          <td>
            <span>{{ county.springTemperature }}</span>
            <span>{{ county.summerTemperature }}</span>
            <span>{{county.autumnTemperature }}</span>
            <span>{{ county.winterTemperature }}</span>
          </td>
        </tr>
      </table>
    </fieldset>
  </body>
</html>
